

<div class="container">
<h1>Stupid Coaching</h1>
<label for="question">Ask your coach anything:</label>
<form action="/answer" method="get">
  <input type="text" name="question">
  <input type="submit" value="Give me Answer!">
</form>
</div>
